{% set page_title = 'Recent changes — ' ~ wiki_title %}{% include '_header.html' %}
  <body>
    {% include '_navbar.html' %}
    {% include '_drawer.html' %}
    <main class="main">
      <div class="index index--wide">
        <h1>Recent changes</h1>
        <div class="index__tablewrap">
          <table class="index__table" data-sortable-table>
            <thead>
              <tr>
                <th data-col="page" scope="col">Page</th>
                <th data-col="change" scope="col">Change</th>
                <th data-col="by" scope="col">By</th>
                <th data-col="date" scope="col" aria-sort="descending">Date</th>
              </tr>
            </thead>
            <tbody>
              {% for page in pages %}
              <tr>
                <td><a href="{{ page.path }}">{{page.title}}</a></td>
                <td class="index__change" title="{{page.change}}">{{page.change}}</td>
                <td class="index__by">{{page.author}}</td>
                <td class="index__date">{{page.date}}</td>
              </tr>
              {%- endfor -%}
            </tbody>
          </table>
        </div>
      </div>
    </main>
    {% include '_footer.html' %}
  </body>
</html>
